@font-face {
    font-family: 'Roboto';
    src: url('https://e2ee.xyz/static/fonts/Roboto-Light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('https://e2ee.xyz/static/fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('https://e2ee.xyz/static/fonts/Roboto-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('https://e2ee.xyz/static/fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Red Hat Mono';
    src: url('https://e2ee.xyz/static/fonts/RedHatMono-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Rationale';
    src: url('https://e2ee.xyz/static/fonts/Rationale-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
:root {
    --main-color: #5b45d9;
    --main-color-hover: #715fe4;
    --main-color-transparent: rgba(91, 69, 217, 0.2);
    --red: #dc143c;
    --red-hover: #e03759;
}
@media (prefers-color-scheme: light) {
    .system {
        --color: #080808;
        --muted-color: #3d3d3d;
        --bg-body: #f2f2f2;
        --bg-body-transparent: #f2f2f250;
        --bg-card: #ffffff;
        --bg-button: #c2c2c2;
        --bg-button-hover: #d1d1d1;
        --border-color: #cfcfcf;
        --shadow-color: #aaaaaa50;
    }
    .inverted {
        --color: #ffffff;
        --muted-color: #b6b6b6;
        --bg-body: #0a0a0a;
        --bg-body-transparent: #0a0a0a9a;
        --bg-card: #121212;
        --bg-button: #2c2c2c;
        --bg-button-hover: #3a3a3a;
        --border-color: #1d1d1d;
        --shadow-color: #00000050;
    }
}
@media (prefers-color-scheme: dark) {
    .system {
        --color: #ffffff;
        --muted-color: #b6b6b6;
        --bg-body: #0a0a0a;
        --bg-body-transparent: #0a0a0a9a;
        --bg-card: #121212;
        --bg-button: #2c2c2c;
        --bg-button-hover: #3a3a3a;
        --border-color: #1d1d1d;
        --shadow-color: #00000050;
    }
    .inverted {
        --color: #080808;
        --muted-color: #3d3d3d;
        --bg-body: #f2f2f2;
        --bg-body-transparent: #f2f2f250;
        --bg-card: #ffffff;
        --bg-button: #c2c2c2;
        --bg-button-hover: #d1d1d1;
        --border-color: #cfcfcf;
        --shadow-color: #aaaaaa50;
    }
}
@media all and (min-width: 600px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none !important;
    }
}
@media all and (max-width: 599px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block;
    }
}
@media all and (max-width: 400px) {
    .my-message, .other-message {
        max-width: 300px !important;
    }
}
@media all and (max-width: 350px) {
    .my-message, .other-message {
        max-width: 250px !important;
    }
}
@media all and (max-width: 1100px) {
    #messages {
        border-color: transparent !important;
    }
    .room-header {
        border-color: transparent !important;
    }
    .room-footer {
        border-top: 1px solid var(--border-color);
        border-left: none !important;
        border-right: none !important;
    }
}
::selection {
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
    background-color: var(--main-color);
}
body {
    font-family: 'Roboto', system-ui, -apple-system, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color);
    background-color: var(--bg-body);
}
header {
    background-color: var(--bg-body-transparent);
    backdrop-filter: blur(20px) saturate(200%);
    border-bottom: 1px solid var(--border-color);
    height: 50px;
    width: 100%;
}
main {
    margin-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}
.mw-450 {
    max-width: 450px;
}
.mw-500 {
    max-width: 500px;
}
.mw-600 {
    max-width: 600px;
}
.mw-850 {
    max-width: 850px;
}
.mw-1100 {
    max-width: 1100px;
}
.card {
    color: var(--color);
    background-color: var(--bg-card);
    border-radius: 18px;
    border-color: transparent;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: border-color 0.2s ease-in-out;
}
.card.hover {
    color: var(--color) !important;
    text-decoration: none !important;
}
.card.hover:hover {
    border-color: var(--main-color);
}
.dropdown-menu {
    background-color: var(--bg-card);
    border-color: var(--border-color);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 3px 6px var(--shadow-color);
}
.dropdown-item {
    color: var(--color) !important;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
    background-color: var(--bg-button) !important;
}
.dropdown button.show {
    border: 1px solid var(--main-color) !important;
}
.dropdown-toggle.show::after {
    transform: rotate(180deg);
}
.modal-content {
    background-color: var(--bg-card);
    border-radius: 18px;
    border: none;
    box-shadow: 0 2px 4px var(--shadow-color);
}
.modal-header, .modal-footer {
    border: none;
}
.modal {
    backdrop-filter: blur(1px);
}
.modal-dialog {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.btn-base {
    font-weight: 500;
    padding: 0 15px;
    height: 38px;
    border-radius: 9px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn-submit {
    color: #ffffff !important;
    background-color: var(--main-color);
}
.btn-submit:hover {
    background-color: var(--main-color-hover);
}
.btn-theme {
    color: var(--color) !important;
    background-color: var(--bg-button);
}
.btn-theme:hover {
    background-color: var(--bg-button-hover);
}
.btn-inverted {
    color: var(--bg-card) !important;
    background-color: var(--color);
}
.btn-inverted:hover {
    background-color: var(--muted-color);
}
.btn-outline {
    color: var(--color) !important;
    background-color: transparent;
    border-color: var(--muted-color);
}
.btn-outline:hover {
    background-color: var(--main-color-transparent);
}
.btn-hover {
    color: var(--color) !important;
    background-color: transparent;
}
.btn-hover:hover {
    background-color: var(--bg-button);
}
.btn-danger {
    color: #ffffff !important;
    background-color: var(--red);
}
.btn-danger:hover {
    background-color: var(--red-hover);
}
.btn-base i {
    font-size: 20px;
    margin-top: 1px;
}
.btn-icon {
    width: 38px;
    border-radius: 19px;
    padding: 0;
}
.btn-icon-sm {
    height: 30px !important;
    width: 30px;
    border-radius: 15px;
    padding: 0;
}
.btn-icon-sm i {
    font-size: 17px;
    margin-top: 1px;
}
.btn-pill {
    border-radius: 19px;
}
.btn-base:disabled {
    filter: opacity(0.5);
    cursor: not-allowed;
}
#get-started i {
    transition: transform 0.2s ease-in-out;
}
#get-started:hover i {
    transform: translateX(7px);
}
input, textarea {
    color: var(--color);
    background-color: var(--bg-card);
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--bg-button);
    border-radius: 9px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
input {
    height: 38px;
}
textarea {
    min-height: 38px;
}
input:hover, textarea:hover {
    border-color: var(--main-color);
}
input:focus, textarea:focus {
    border-color: var(--main-color);
    box-shadow: inset 0 0 0 1px var(--main-color);
}
input:disabled, textarea:disabled {
    color: var(--muted-color);
    border-color: var(--border-color);
    cursor: not-allowed;
}
label {
    color: var(--color);
}
.form-check-label {
    cursor: pointer;
}
.form-check-input {
    background-color: var(--bg-card);
    border: 1px solid var(--bg-button);
    padding: 0 !important;
    box-shadow: none !important;
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.form-check-input:active, .form-check-input:focus {
    border-color: var(--main-color);
  }
.no-resize {
    resize: none;
}
.my-message {
    background-color: var(--main-color-transparent);
    margin-left: 30px;
}
.other-message {
    background-color: var(--bg-card);
    margin-right: 30px;
}
.my-message, .other-message {
    color: var(--color);
    word-wrap: break-word;
    max-width: 500px;
    border-radius: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: start;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: border-color 0.2s ease-in-out;
}
button.my-message:hover, button.other-message:hover {
    border-color: var(--main-color);
}
.bi-lock-fill {
    color: var(--muted-color);
    margin-top: -4px;
}
#messages {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding-top: 60px;
    height: calc(100vh - 109px);
    overflow: auto;
}
#message {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
}
.room-header {
    margin-top: 50px;
    height: 50px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-body-transparent);
    backdrop-filter: blur(20px) saturate(200%);
}
.room-footer {
    background-color: var(--bg-card);
    padding: 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    box-shadow: 0 -6px 6px -4px var(--shadow-color);
}
.room-spinner {
    position: relative;
    top: 50%;
    margin-top: -50px;
}
.datetime {
    font-size: 12px;
    font-weight: 300;
    color: var(--muted-color);
    margin-top: 2px;
}
#send-message i {
    margin-left: -3px;
    margin-top: 2px;
}
.progress {
    background-color: var(--bg-body);
    height: 5px;
}
.progress-bar {
    background-color: var(--main-color);
}
.logo {
    font-family: 'Rationale', sans-serif;
    color: var(--color) !important;
    font-size: 26px;
    letter-spacing: -1.5px;
    text-decoration: none;
}
.logo span {
    color: var(--main-color-hover);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.logo:hover span {
    visibility: visible;
    opacity: 1;
}
hr {
    color: var(--border-color);
    opacity: 1;
}
.muted {
    color: var(--muted-color);
}
.monospace {
    font-family: 'Red Hat Mono', monospace;
}
.title {
    font-weight: 800;
    background: -webkit-linear-gradient(0deg, var(--color), var(--main-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.phone {
    width: 260px;
    height: 450px;
    border-radius: 35px;
    padding: 35px 10px;
    background-color: var(--bg-body);
    border: 1px solid var(--border-color);
    box-shadow: 0 6px 12px var(--shadow-color);
}
.screen {
    position: relative;
    top: 50%;
    height: 380px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2.5s ease-out, opacity 2.5s ease-out;
}
.visible {
    visibility: visible;
    opacity: 1;
}
.error {
    color: var(--red);
}
.word-wrap {
    word-wrap: break-word;
}
.word-break-all {
    word-break: break-all;
}
.bg-card {
    background-color: var(--bg-card);
}
.avatar i {
    color: var(--muted-color);
    font-size: 60px;
}
a {
    color: currentColor;
    text-decoration: 1px underline solid var(--main-color);
    text-underline-offset: 3px;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}
a:hover {
    color: var(--red);
    text-decoration-color: var(--red);
}
a:focus-visible, button:focus-visible {
    outline: 2px dotted var(--main-color);
    outline-offset: 1px;
}
